:root {
    --bg-primary: #232830;
    --text-primary: #FFFFFF;
    --text-secondary: #FF7575;;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--bg-primary);
    max-width: 100vw;
    height: 2753px;
}

.header {
    /* width to complet the area */
    height: 515px;
    margin-top: 75px;
    margin-left: 218px;
    margin-right: 228px;
    position: relative;
}

.navbar {
    position: relative;
    margin-bottom: 100px;
}

.navbar a {
    color: var(--text-primary);
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 400;
}

.navbar-left {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
}

.navbar-right {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 18px;
}

.navbar-right a {
    padding-left: 30px;
}

.logo {
    position: relative;
    margin-right: 200px;
    margin-left: 200px;
    padding-top: 100px;
}

.header-text {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text h3 {
    color: var(--text-secondary);
    font-size: 45px;
    font-family: 'Recursive';
    font-weight: 400;
    font-style: italic;
    padding-bottom: 10px;
}

.header-text p {
    color: var(--text-primary);
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 400;
}

.header-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
